<header>Header {{ this.configUrl }}</header>
<main *ngIf="config" [style.flex-flow]="config.flexType">
  <ng-template ngFor
               let-component
               [ngForOf]="config.components"
               let-firstMain="first"
               let-mainIndex="index"
  >
    <div dashng-container-resizer *ngIf="!firstMain"
                                  [flexType]="component.flexType"
                                  (resize)="resizeContainers($event, mainIndex-1, mainIndex)"
    ></div>
    <dashng-container #child [config]="component"
                             [style.flex-grow]="component.flexSize"
                             [style.flex-shrink]="component.flexSize"
    ></dashng-container>
  </ng-template>
</main>
<footer>Footer</footer>
