<ng-template ngFor let-component [ngForOf]="components" let-compIndex="index" let-firstComp="first">
  <div dashng-container-resizer *ngIf="!firstComp"
                                [type]="component.flexType"
                                (resize)="resizeContainers($event, components[compIndex-1], component)"
  ></div>
  <dashng-container [flexSize]="component.flexSize"
                    [components]="component?.components"
                    [style.flex-grow]="component.flexSize"
                    [style.flex-shrink]="component.flexSize"
  ></dashng-container>
</ng-template>
<dashng-widget-holder #holder
                      *ngIf="!components?.length"
                      [widget]="widget"
></dashng-widget-holder>
